@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --spacing: 0.25rem;
  --color-primary: #ff2800;
  --color-pdark: #cc2000;
  --color-plight:rgba(255, 40, 0, 0.16);
  --color-bg: #000000;
  --color-bgcard: #0a0a0a;
  --color-line: #222222;
  --color-tp: #ffffff;
  --color-ts: #aaaaaa;
  --color-tm: #666666;
}

@layer utilities {
  .gap-responsive {
    @apply gap-4 max-md:gap-2;
  }
  .pt-responsive {
    @apply pt-4 max-md:pt-2;
  }
  .common-border{
    @apply border-1 border-line;
  }
}

@import "./theme.css";
*{
  font-family: 'Orbitron', sans-serif;;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-bg);
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /*定义滚动条轨道
   内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }
  /*定义滑块
   内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-primary);
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.router-link-active {
  color: var(--color-primary) !important;
}

.router-link-exact-active {
  color: var(--color-primary) !important;
}
