@import './theme.css';
*{
  transition: all 0.2s;
}
html ,body{
  ::-webkit-scrollbar
  {
    width:6px;
    height:6px;
  }
  /*定义滚动条轨道
   内阴影+圆角*/
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:3px;
  }
  /*定义滑块
   内阴影+圆角*/
  ::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--brand-color);
    border-radius:10px;
  }
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin: 10px;
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.main{
  padding:  90px 7px 7px 7px;
  color: var(--text-p);
  margin: 0 auto;
  max-width: 1200px;
}

.router-link-active {
  color: var(--text-p)!important;
}

.router-link-exact-active {
  color: var(--text-p)!important;
}

