@import './theme.css';
*{
  transition: color 0.2s;
}
html,body{
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.main{
  color: var(--text-p);
  margin: 0 auto;
  padding-top: 90px;
  max-width: 1200px;
}

.router-link-active {
  color: var(--text-p)!important;
}

.router-link-exact-active {
  color: var(--text-p)!important;
}

